.box {
  border: 2px solid red;
}

.pagemain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 15px;
  font-style: normal;
}

p,
h1,
h3,
h5,
h4 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  max-width: 1200px;
}

.para {
  color: #6d6d6d;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  width: 200px;
  position: relative;
}

.icon {
  width: 100px;
}

.icon3 > img {
  width: 40px;
}

img {
  width: 40px;
  border-radius: 15px;
}

body {
  background-color: #f7f7f7;
}

.mainbody {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

/* small device */

@media screen and (max-width: 576px) {
  .mainbody {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* medium device */

@media screen and (min-width: 576px) and (max-width: 969px) {
  .mainbody {
    display: grid;
    /* display: flex;
    flex-wrap: wrap; */
    grid-template-columns: repeat(2, 2fr);
    /* justify-content: center; */
    /* align-items: center; */
    place-items: center;
    gap: 20px;
  }
}
